
.profile-pic {
  margin-top: 5%;  
  border-radius: 50%;
  width:200px;
  padding:10px;
}

img {
  display: block;
  margin: 0 auto;
}


.test{
  font-family: 'Raleway', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  //font-family: 'Roboto Mono', monospace;
  //font-family: 'Chakra Petch', sans-serif;
}




